<%- include('partials/header') %>

<h1>WELCOME</h1>
<p>Happy Writing!!</p>

<% for(var i =0;i<posts.length;i++) {%>
    <h3><%=posts[i].title%></h3>
    <%let k = posts[i].post;%>
    <%if(posts[i].post.length>100){%>
        <%k=posts[i].post.slice(0,100)%>
    <%}%>
    <p>
        <%=k+"..."%> &nbsp
        <a href="/posts/<%=posts[i]._id%>">Read more</a>

        <form action="/" method="post">
            <input type="hidden" class="dell" name="delp" value="<%=posts[i]._id%>">
            <input type="submit" class="delp" value="Delete Post">
        </form>
    </p>
<% } %>


<%- include('partials/footer') %>